body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; 
}

th {
    width: 120px;
    padding-top:25px;
    padding-bottom:30px;
}
td {
    padding: 5px;
    border-radius: 12px;
}

.time {
    height: 40px;
}
.Event {
    width: 100px;
}

.Event h6, h5 {
    line-height: 0px;
    align-content: center;
}

.pink {
    background: rgb(255, 186, 205);
}

.blue {
    background: rgb(190, 219, 229);
}
.green {
    background-color: rgb(202, 245, 222);
} 
.light-blue {
    background-color: rgb(129, 197, 248);
}
.red {
    background-color: rgb(248, 82, 99);
}
.yellow {
    background-color: rgb(255, 255, 204);
}
.purple {
    background-color: rgb(204, 153, 255);
}